* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

html a {
  text-decoration: none;
  color: inherit;
}

html body {
  display: -ms-grid;
  display: grid;
  margin: unset;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: "header" "navbar" "main" "footer" "accreditations";
}

html body header {
  background-color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

html body nav {
  background-color: #333645;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navbar;
}

html body main {
  background-color: #fff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: "hero" "services" "about" "latest" "clients";
}

html body footer {
  background-color: #333645;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.top-nav {
  grid-area: topnav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}

.top-nav .brand {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: auto;
}

.top-nav .brand img {
  width: 100%;
}

.top-nav .border {
  position: relative;
  min-width: 28px;
  height: 46px;
  margin-left: 15px;
  display: none;
}

.top-nav .border .phone {
  display: none;
  color: #333645;
  font-size: 2rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 0px;
  right: 0px;
}

.top-nav .border:hover {
  border-bottom: 3px solid #333645;
}

.top-nav .border:hover .phone {
  color: #1d1f28;
}

.top-nav .contact-button,
.top-nav .support-button {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  text-transform: uppercase;
  padding: 14px;
  font-size: 1.125rem;
  margin-right: 14px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.top-nav .contact-button i,
.top-nav .support-button i {
  margin-right: 10px;
}

.top-nav .support-button {
  background-color: #4183d7;
}

.top-nav .support-button:hover {
  background-color: #286abd;
}

.top-nav .contact-button {
  background-color: #999aa2;
}

.top-nav .contact-button:hover {
  background-color: #7e808a;
}

.top-nav .hamburger {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #333645;
  color: #fff;
  width: 63px;
  height: 55px;
  border-radius: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.top-nav .hamburger:hover {
  background-color: #1d1f28;
}

.top-nav .hamburger div {
  width: 33px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
}

.top-nav .hamburger div:nth-of-type(1) {
  margin-top: 10px;
}

.top-nav .hamburger div:nth-of-type(3) {
  margin-bottom: 3px;
}

.top-nav .hamburger .title {
  display: block;
  font-size: 0.75rem;
  line-height: 1;
  position: relative;
  top: 3px;
  text-transform: uppercase;
  text-align: center;
}

.bot-nav {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.bot-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.bot-nav > ul > li {
  text-align: center;
  width: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 18px 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.bot-nav > ul > li a {
  color: #fff;
  text-transform: uppercase;
}

.bot-nav > ul > li a .first-word {
  font-size: 0.625rem;
  display: block;
  margin: 2px 0 -5px 0;
}

.bot-nav > ul > li a i {
  font-size: 1.375rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.bot-nav > ul > li a i.fa-code {
  color: #926fb1;
}

.bot-nav > ul > li a i.fa-desktop {
  color: #4183d7;
}

.bot-nav > ul > li a i.fa-phone-volume {
  color: #d64541;
}

.bot-nav > ul > li a i.fa-th {
  color: #67809f;
}

.bot-nav > ul > li a i.fa-chart-bar {
  color: #2ecc71;
}

.bot-nav > ul > li a i.fa-shield-alt {
  color: #f62459;
}

.bot-nav > ul > li:hover ul.under-menu {
  visibility: visible;
  opacity: 1;
}

.bot-nav > ul > li:hover:nth-of-type(1) {
  background-color: #926fb1;
}

.bot-nav > ul > li:hover:nth-of-type(2) {
  background-color: #4183d7;
}

.bot-nav > ul > li:hover:nth-of-type(3) {
  background-color: #d64541;
}

.bot-nav > ul > li:hover:nth-of-type(4) {
  background-color: #67809f;
}

.bot-nav > ul > li:hover:nth-of-type(5) {
  background-color: #2ecc71;
}

.bot-nav > ul > li:hover:nth-of-type(6) {
  background-color: #f62459;
}

.bot-nav > ul > li:hover i {
  color: #fff !important;
}

.bot-nav > ul > li ul.under-menu {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: absolute;
  top: 217px;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 50px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.bot-nav > ul > li ul.under-menu .margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.bot-nav > ul > li ul.under-menu.web-design {
  background-color: #926fb1;
}

.bot-nav > ul > li ul.under-menu.it-support {
  background-color: #4183d7;
}

.bot-nav > ul > li ul.under-menu.telecoms-services {
  background-color: #d64541;
}

.bot-nav > ul > li ul.under-menu.bespoke-software {
  background-color: #67809f;
}

.bot-nav > ul > li ul.under-menu.digital-marketing {
  background-color: #2ecc71;
}

.bot-nav > ul > li ul.under-menu.cyber-security {
  background-color: #f62459;
}

.bot-nav > ul > li ul.under-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bot-nav > ul > li ul.under-menu li::after {
  content: "-";
  padding: 0 20px;
}

.bot-nav > ul > li ul.under-menu li:last-child::after {
  content: "";
  padding: 0;
}

.bot-nav > ul > li _:-ms-lang(x),
.bot-nav > ul > li _:-webkit-full-screen,
.bot-nav > ul > li .under-menu {
  top: 215px !important;
}

footer .footer-contents {
  padding: 40px 15px;
  margin: 0 auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-contents .section-one,
footer .footer-contents .section-two,
footer .footer-contents .section-three,
footer .footer-contents .section-four {
  width: 25%;
  padding: 0 15px;
}

footer .footer-contents .section-four .social-media a {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 0 15px 0 0;
  width: 43%;
  padding: 15px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

footer .footer-contents .section-four .social-media a:hover.facebook {
  background-color: #3b5998;
}

footer .footer-contents .section-four .social-media a:hover.twitter {
  background-color: #4099FF;
}

footer .footer-contents .section-four .social-media a:hover.linkedin {
  background-color: #007bb6;
}

footer .footer-contents .section-four .social-media a:last-of-type {
  margin-top: 18px !important;
}

footer .footer-contents .section-four .social-media a i {
  font-size: 1.5rem;
}

footer .footer-contents ul {
  padding: 0;
  list-style-type: none;
  font-size: 0.875rem;
  color: white;
  line-height: 22px;
}

footer .footer-contents ul a:hover {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 25px;
  font-size: 2.375rem;
}

h2 {
  font-size: 1.125rem;
  font-weight: normal;
  color: #000;
  position: relative;
  padding-bottom: 17px;
  margin: 0 0 11px;
}

h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 26px 0;
  font-size: 1rem;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-color: #333645;
}

.side-nav.side-menu-push {
  width: 350px;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav .outer-ul {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 350px;
  cursor: pointer;
}

.side-nav .outer-ul .outer-li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.side-nav .outer-ul .outer-li:hover a {
  background-color: rgba(255, 255, 255, 0.05);
}

.side-nav .outer-ul .outer-li a {
  display: block;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  line-height: 1;
  position: relative;
}

.side-nav .outer-ul .outer-li .inner-ul .inner-li {
  border-top: 1px solid rgba(0, 0, 0, 0.45);
}

.side-nav .outer-ul .outer-li .inner-ul .inner-li a {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.side-nav .outer-ul .outer-li .inner-ul .inner-li a::before {
  content: "\00BB";
  padding-right: 15px;
}

body {
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  right: 0;
  position: relative;
}

body .side-menu-opacity {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  pointer-events: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 3;
  cursor: pointer;
}

body.menu-toggle .side-menu-opacity {
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
  pointer-events: all;
}

body .cookie-popup {
  position: fixed;
  z-index: 2;
  bottom: 30px;
  left: 30px;
  width: 450px;
  height: 260px;
  background-color: #333645;
  border-radius: 20px;
  border: 1px solid white;
}

body .cookie-popup img {
  width: 100px;
  height: 100px;
}

section {
  height: 100%;
}

section.hero {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero;
  height: calc(100vh - 217px);
  border-top: 1px solid rgba(51, 54, 69, 0.5);
  position: relative;
}

section.hero .slickSlider,
section.hero .slick-list,
section.hero .slick-track {
  height: 100%;
}

section.hero .slick-slide {
  -webkit-backface-visibility: hidden;
}

section.hero .slick-slide:focus {
  outline: none;
}

section.hero .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

section.hero .slick-dots li {
  margin: 0 10px;
}

section.hero .slick-dots button {
  display: block;
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
  text-indent: -9999px;
}

section.hero .slick-dots button:focus {
  outline: none;
}

section.hero .slick-dots button:hover {
  background: #869791;
}

section.hero .slick-dots li.slick-active button {
  background-color: white;
  position: relative;
}

section.hero .slick-dots li.slick-active button::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #fff;
}

section.hero .slickSlide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero .slickSlide.one {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide1.jpg");
  background-image: linear-gradient(to left, rgba(224, 174, 174, 0) 25%, black 100%), url("../img/slide1.jpg");
}

section.hero .slickSlide.two {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide2.jpg");
  background-image: linear-gradient(to left, rgba(224, 174, 174, 0) 25%, black 100%), url("../img/slide2.jpg");
}

section.hero .slickSlide.two .hero-button {
  background-color: #4183d7;
}

section.hero .slickSlide.two .hero-button:hover {
  background-color: #286abd;
}

section.hero .slickSlide.three {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide3.jpg");
  background-image: linear-gradient(to left, rgba(224, 174, 174, 0) 25%, black 100%), url("../img/slide3.jpg");
}

section.hero .slickSlide.three .hero-button {
  background-color: #2ecc71;
}

section.hero .slickSlide.three .hero-button:hover {
  background-color: #25a25a;
}

section.hero .slickSlide.four {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide4.jpg");
  background-image: linear-gradient(to left, rgba(224, 174, 174, 0) 25%, black 100%), url("../img/slide4.jpg");
}

section.hero .slickSlide.four .hero-button {
  background-color: #d64541;
}

section.hero .slickSlide.four .hero-button:hover {
  background-color: #bc2c28;
}

section.hero .slickSlide.five {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide5.jpg");
  background-image: linear-gradient(to left, rgba(224, 174, 174, 0) 25%, black 100%), url("../img/slide5.jpg");
}

section.hero .slickSlide.five .hero-button {
  background-color: #67809f;
}

section.hero .slickSlide.five .hero-button:hover {
  background-color: #526781;
}

section.hero .slickSlide.six {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide6.jpg");
  background-image: linear-gradient(to left, rgba(224, 174, 174, 0) 25%, black 100%), url("../img/slide6.jpg");
}

section.hero .slickSlide.six .hero-button {
  background-color: #f62459;
}

section.hero .slickSlide.six .hero-button:hover {
  background-color: #de093f;
}

section.hero .hero-content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.hero .hero-content .h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0 0 18px;
  color: #fff;
  font-weight: normal;
  line-height: 52px;
}

section.hero .hero-content p {
  font-size: 1.25rem;
  margin: 0 0 35px;
  color: #fff;
  line-height: 36px;
}

section.hero .hero-content .hero-button {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  text-transform: uppercase;
  padding: 16px 22px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #926fb1;
  font-size: 1.25rem;
  transition: background-color 0.5s;
}

section.hero .hero-content .hero-button:hover {
  background-color: #79539a;
}

section.hero .hero-content .hero-button i {
  margin-left: 10px;
}

section.services {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: services;
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

section.services .service-list {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

section.services .service-list .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  width: 23.5%;
}

section.services .service-list .service:nth-of-type(-n + 2) {
  width: 49%;
  margin-bottom: 25px;
}

section.services .service-list .service h2 {
  font-size: 1.125rem;
  font-weight: normal;
  color: #000;
  position: relative;
  padding-bottom: 17px;
  margin: 0 0 11px;
}

section.services .service-list .service h2::after {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  background-color: #333645;
}

section.services .service-list .service p {
  font-size: 0.8125rem;
  color: #000;
  margin: 0 0 13px;
}

section.services .service-list .service .service-button {
  margin-top: auto;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.services .service-list .service.web-design .service-icon {
  background-color: #926fb1;
}

section.services .service-list .service.web-design .service-button {
  background-color: #926fb1;
}

section.services .service-list .service.it-support .service-icon {
  background-color: #4183d7;
}

section.services .service-list .service.it-support .service-button {
  background-color: #4183d7;
}

section.services .service-list .service.telecoms-services .service-icon {
  background-color: #d64541;
}

section.services .service-list .service.telecoms-services .service-button {
  background-color: #d64541;
}

section.services .service-list .service.bespoke-software .service-icon {
  background-color: #67809f;
}

section.services .service-list .service.bespoke-software .service-button {
  background-color: #67809f;
}

section.services .service-list .service.digital-marketing .service-icon {
  background-color: #2ecc71;
}

section.services .service-list .service.digital-marketing .service-button {
  background-color: #2ecc71;
}

section.services .service-list .service.cyber-security .service-icon {
  background-color: #f62459;
}

section.services .service-list .service.cyber-security .service-button {
  background-color: #f62459;
}

section.services .service-list .service:hover h2 {
  color: #fff;
}

section.services .service-list .service:hover h2::after {
  background-color: #fff;
}

section.services .service-list .service:hover .service-icon {
  background-color: #fff;
}

section.services .service-list .service:hover .service-button {
  background-color: #fff;
}

section.services .service-list .service:hover p {
  color: #fff;
}

section.services .service-list .service:hover.web-design {
  background-color: #926fb1;
}

section.services .service-list .service:hover.web-design .service-icon {
  color: #926fb1;
}

section.services .service-list .service:hover.web-design .service-button {
  color: #926fb1;
}

section.services .service-list .service:hover.it-support {
  background-color: #4183d7;
}

section.services .service-list .service:hover.it-support .service-icon {
  color: #4183d7;
}

section.services .service-list .service:hover.it-support .service-button {
  color: #4183d7;
}

section.services .service-list .service:hover.telecoms-services {
  background-color: #d64541;
}

section.services .service-list .service:hover.telecoms-services .service-icon {
  color: #d64541;
}

section.services .service-list .service:hover.telecoms-services .service-button {
  color: #d64541;
}

section.services .service-list .service:hover.bespoke-software {
  background-color: #67809f;
}

section.services .service-list .service:hover.bespoke-software .service-icon {
  color: #67809f;
}

section.services .service-list .service:hover.bespoke-software .service-button {
  color: #67809f;
}

section.services .service-list .service:hover.digital-marketing {
  background-color: #2ecc71;
}

section.services .service-list .service:hover.digital-marketing .service-icon {
  color: #2ecc71;
}

section.services .service-list .service:hover.digital-marketing .service-button {
  color: #2ecc71;
}

section.services .service-list .service:hover.cyber-security {
  background-color: #f62459;
}

section.services .service-list .service:hover.cyber-security .service-icon {
  color: #f62459;
}

section.services .service-list .service:hover.cyber-security .service-button {
  color: #f62459;
}

section.services .service-list .service .service-icon {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  color: #fff;
  border-radius: 50%;
  display: block;
  font-size: 1.25rem;
  line-height: 60px;
}

section.about {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about;
  background-color: #333645;
  background-image: url("../img/branded.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

section.about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 50px 15px;
  width: 1200px;
  color: white;
  line-height: 32px;
}

section.about .about-text p {
  margin: 0 0 20px 0;
  width: 50%;
}

section.about .about-text .about-button {
  color: #333645;
  background-color: #ebebeb;
  border-color: #e0e0e0;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  font-size: 1.0625rem;
}

section.about .about-text .about-button:hover {
  background-color: #d2d2d2;
}

section.about .about-text .about-button i {
  margin-left: 10px;
}

section.latest {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: latest;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

section.latest .latest-bar {
  grid-area: bar;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

section.latest .latest-bar .bar-padding {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

section.latest .latest-bar .bar-padding .bar-tab {
  padding: 37px 0;
  color: #333645;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

section.latest .latest-bar .bar-padding .bar-tab::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px;
  width: 66px;
}

section.latest .latest-article-list {
  padding: 50px 15px;
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.latest .latest-article-list .latest-article {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  z-index: 1;
}

section.latest .latest-article-list .latest-article.news .article-category {
  background-color: #926fb1;
}

section.latest .latest-article-list .latest-article.news .article-category:hover {
  background-color: #79539a;
}

section.latest .latest-article-list .latest-article.news h3 {
  color: #926fb1;
}

section.latest .latest-article-list .latest-article.news .article-button {
  background-color: #926fb1;
}

section.latest .latest-article-list .latest-article.news .article-button:hover {
  background-color: #79539a;
}

section.latest .latest-article-list .latest-article.careers .article-category {
  background-color: #2ecc71;
}

section.latest .latest-article-list .latest-article.careers .article-category:hover {
  background-color: #25a25a;
}

section.latest .latest-article-list .latest-article.careers h3 {
  color: #2ecc71;
}

section.latest .latest-article-list .latest-article.careers .article-button {
  background-color: #2ecc71;
}

section.latest .latest-article-list .latest-article.careers .article-button:hover {
  background-color: #25a25a;
}

section.latest .latest-article-list .latest-article.guides .article-category {
  background-color: #f62459;
}

section.latest .latest-article-list .latest-article.guides .article-category:hover {
  background-color: #de093f;
}

section.latest .latest-article-list .latest-article.guides h3 {
  color: #f62459;
}

section.latest .latest-article-list .latest-article.guides .article-button {
  background-color: #f62459;
}

section.latest .latest-article-list .latest-article.guides .article-button:hover {
  background-color: #de093f;
}

section.latest .latest-article-list .latest-article .article-image {
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

section.latest .latest-article-list .latest-article .article-image .overflow {
  overflow: hidden;
  height: 100%;
}

section.latest .latest-article-list .latest-article .article-image:hover img {
  opacity: 0.75;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

section.latest .latest-article-list .latest-article .article-image .article-category {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: auto;
  left: auto;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 600;
}

section.latest .latest-article-list .latest-article .article-image .article-category .popup {
  background-color: #333645;
  color: #fff;
  padding: 5px;
  line-height: 17px;
  font-size: 0.6875rem;
  font-weight: normal;
  width: 160px;
  margin: 0 auto 34px;
  position: absolute;
  top: auto;
  right: 5px;
  bottom: 48%;
  left: auto;
  text-align: center;
  visibility: hidden;
  text-transform: none;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

section.latest .latest-article-list .latest-article .article-image .article-category .popup .arrow {
  position: absolute;
  top: 42px;
  right: 18%;
  bottom: auto;
  left: auto;
}

section.latest .latest-article-list .latest-article .article-image .article-category .popup .arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  margin: auto;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #333645 transparent transparent transparent;
}

section.latest .latest-article-list .latest-article .article-image .article-category:hover {
  text-decoration: underline;
}

section.latest .latest-article-list .latest-article .article-image .article-category:hover .popup {
  visibility: visible;
  opacity: 1;
}

section.latest .latest-article-list .latest-article .article-image img {
  width: 100%;
  position: relative;
  height: 100%;
  -webkit-transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

section.latest .latest-article-list .latest-article .article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ccc;
  padding: 30px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

section.latest .latest-article-list .latest-article .article-content h3 {
  height: 50px;
}

section.latest .latest-article-list .latest-article .article-content h3:hover {
  text-decoration: underline;
}

section.latest .latest-article-list .latest-article .article-content p {
  font-size: 0.8125rem;
}

section.latest .latest-article-list .latest-article .article-content .article-button {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

section.latest .latest-article-list .latest-article .article-content .article-info {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  font-size: 0.875rem;
}

section.latest .latest-article-list .latest-article .article-content .article-info img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}

section.latest .latest-article-list .latest-article .article-content .article-info p {
  margin: 0;
}

section.latest .latest-article-list .latest-article .article-content .article-info .article-date {
  color: #666666;
  font-size: 0.875rem;
}

section.clients {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: clients;
  width: 1200px;
  padding: 45px 15px;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.1);
}

section.clients ul {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.clients ul img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  width: 100%;
}

section.clients ul img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

section.clients ul li {
  position: relative;
  padding: 0 20px;
}

section.clients ul li .popup {
  z-index: 2;
  background-color: #333645;
  color: #fff;
  padding: 12px;
  font-weight: normal;
  max-width: 260px;
  margin: 0 auto 48px;
  position: absolute;
  top: auto;
  right: -200px;
  bottom: 100%;
  left: -200px;
  text-align: center;
  visibility: hidden;
  text-transform: none;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

section.clients ul li .popup h3 {
  padding-bottom: 17px;
  margin: 0 0 11px;
  position: relative;
}

section.clients ul li .popup h3::after {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 3px;
  width: 28px;
  background-color: #fff;
}

section.clients ul li .popup p {
  font-size: 0.8125rem;
}

section.clients ul li .popup .arrow {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 36%;
}

section.clients ul li .popup .arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  margin: auto;
  border-style: solid;
  border-width: 35px 36px 0 36px;
  border-color: #333645 transparent transparent transparent;
}

section.clients ul li:hover {
  text-decoration: underline;
}

section.clients ul li:hover .popup {
  visibility: visible;
  opacity: 1;
}

section.accreditations {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: accreditations;
  padding: 50px 0;
  margin: 0 auto;
  width: 1200px;
}

section.accreditations ul {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.accreditations ul img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

section.accreditations ul img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media only screen and (max-width: 1260px) {
  .top-nav {
    width: 970px !important;
  }
  .bot-nav {
    width: 970px !important;
  }
  .bot-nav .under-menu .margin {
    width: 970px !important;
  }
  .bot-nav .under-menu .margin li {
    font-size: 0.8125rem !important;
  }
  .bot-nav .under-menu .margin li::after {
    padding: 0 15px !important;
  }
  .hero-content {
    width: 970px !important;
  }
  .services {
    width: 970px !important;
  }
  .services .service {
    width: 49% !important;
    margin-bottom: 25px !important;
  }
  .about .about-text {
    width: 970px !important;
  }
  .about .about-text p {
    width: 100% !important;
  }
  .latest .bar-padding {
    width: 970px !important;
  }
  .latest .latest-article-list {
    width: 970px !important;
  }
  .latest .latest-article-list .latest-article {
    width: 48% !important;
  }
  .latest .latest-article-list .latest-article:last-of-type {
    display: none !important;
  }
  .clients {
    width: 970px !important;
  }
  .footer-contents {
    width: 970px !important;
  }
  .footer-contents .section-one,
  .footer-contents .section-two,
  .footer-contents .section-three,
  .footer-contents .section-four {
    width: 50% !important;
  }
  .accreditations {
    width: 970px !important;
  }
}

@media only screen and (max-width: 992px) {
  .top-nav {
    width: 750px !important;
  }
  .top-nav .support-button,
  .top-nav .contact-button {
    display: none !important;
  }
  .bot-nav {
    display: none !important;
  }
  .hero {
    height: calc(100vh - 117px) !important;
  }
  .hero .hero-content {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center !important;
  }
  .hero .slickSlide.one {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(-50%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide1.jpg") !important;
    background-image: linear-gradient(to left, rgba(224, 174, 174, 0) -50%, black 100%), url("../img/slide1.jpg") !important;
  }
  .hero .slickSlide.two {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(-50%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide2.jpg") !important;
    background-image: linear-gradient(to left, rgba(224, 174, 174, 0) -50%, black 100%), url("../img/slide2.jpg") !important;
  }
  .hero .slickSlide.two .hero-button {
    background-color: #4183d7;
  }
  .hero .slickSlide.two .hero-button:hover {
    background-color: #286abd;
  }
  .hero .slickSlide.three {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(-50%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide3.jpg") !important;
    background-image: linear-gradient(to left, rgba(224, 174, 174, 0) -50%, black 100%), url("../img/slide3.jpg") !important;
  }
  .hero .slickSlide.three .hero-button {
    background-color: #2ecc71;
  }
  .hero .slickSlide.three .hero-button:hover {
    background-color: #25a25a;
  }
  .hero .slickSlide.four {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(-50%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide4.jpg") !important;
    background-image: linear-gradient(to left, rgba(224, 174, 174, 0) -50%, black 100%), url("../img/slide4.jpg") !important;
  }
  .hero .slickSlide.four .hero-button {
    background-color: #d64541;
  }
  .hero .slickSlide.four .hero-button:hover {
    background-color: #bc2c28;
  }
  .hero .slickSlide.five {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(-50%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide5.jpg") !important;
    background-image: linear-gradient(to left, rgba(224, 174, 174, 0) -50%, black 100%), url("../img/slide5.jpg") !important;
  }
  .hero .slickSlide.five .hero-button {
    background-color: #67809f;
  }
  .hero .slickSlide.five .hero-button:hover {
    background-color: #526781;
  }
  .hero .slickSlide.six {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(-50%, rgba(224, 174, 174, 0)), to(black)), url("../img/slide6.jpg") !important;
    background-image: linear-gradient(to left, rgba(224, 174, 174, 0) -50%, black 100%), url("../img/slide6.jpg") !important;
  }
  .hero .slickSlide.six .hero-button {
    background-color: #f62459;
  }
  .hero .slickSlide.six .hero-button:hover {
    background-color: #de093f;
  }
  .services {
    width: 750px !important;
  }
  .services .service {
    width: 48% !important;
  }
  .services .service:nth-of-type(-n + 2) {
    width: 48% !important;
  }
  .about {
    background-image: none !important;
  }
  .about .about-text {
    width: 750px !important;
  }
  .latest .bar-padding {
    width: 750px !important;
  }
  .latest .latest-article-list {
    width: 750px !important;
  }
  .latest .latest-article-list .article-image:hover img {
    opacity: 1 !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .clients {
    width: 750px !important;
  }
  .footer-contents {
    width: 750px !important;
  }
  .accreditations {
    width: 750px !important;
  }
}

@media only screen and (max-width: 768px) {
  .top-nav {
    width: 100% !important;
  }
  .top-nav .border {
    display: block !important;
  }
  .top-nav .border .phone {
    display: block !important;
  }
  .top-nav .hamburger {
    margin-left: 35px !important;
  }
  .hero {
    height: 90vh !important;
  }
  .services {
    width: 100% !important;
  }
  .services .service {
    width: 100% !important;
  }
  .services .service:nth-of-type(-n + 2) {
    width: 100% !important;
  }
  .about .about-text {
    width: 100% !important;
  }
  .latest .bar-padding {
    width: 100% !important;
  }
  .latest .latest-article-list {
    width: 100% !important;
  }
  .latest .latest-article-list .latest-article {
    width: 100% !important;
    margin-top: 30px !important;
  }
  .latest .latest-article-list .latest-article:first-of-type {
    margin-top: 0 !important;
  }
  .latest .latest-article-list .latest-article:last-of-type {
    display: block !important;
  }
  .clients {
    display: none !important;
  }
  .footer-contents {
    padding: 40px 0px !important;
    width: 100% !important;
  }
  .footer-contents .section-one,
  .footer-contents .section-two,
  .footer-contents .section-three,
  .footer-contents .section-four {
    width: 100% !important;
  }
  .footer-contents .section-one a,
  .footer-contents .section-two a,
  .footer-contents .section-three a,
  .footer-contents .section-four a {
    width: 46% !important;
  }
  .footer-contents .section-one a:nth-of-type(2),
  .footer-contents .section-two a:nth-of-type(2),
  .footer-contents .section-three a:nth-of-type(2),
  .footer-contents .section-four a:nth-of-type(2) {
    margin: 0 !important;
  }
  .accreditations {
    display: none !important;
  }
}
