// main: ../main.scss
// -------------------------------------------------
// Description: This file contains everything to do
//              with the content.
// -------------------------------------------------
@import "Variables";
@import "mixins";

// -- Headings -- //
h1 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 25px;
    font-size: 2.375rem;
}

h2 {
    font-size: 1.125rem;
    font-weight: normal;
    color: $colorBlack;
    position: relative;
    padding-bottom: 17px;
    margin: 0 0 11px;
}

h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

h4 {
    color: $colorWhite;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 26px 0;
    font-size: 1rem;
}

// -- Side Nav -- //

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: width 0.5s;
    background-color: $colorNavy;

    &.side-menu-push {
        width: 350px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .outer-ul {
        border-top: 1px solid rgba(0,0,0,0.25);
        border-bottom: 1px solid rgba(255,255,255,0.1);
        width: 350px;
        cursor: pointer;

        .outer-li {
            border-top: 1px solid rgba(255,255,255,0.1);
            border-bottom: 1px solid rgba(0,0,0,0.25);

            &:hover {
                a {
                    background-color: rgba(255,255,255,0.05);
                }
            }
            
            a {
                display: block;
                color: #fff;
                padding: 20px;
                text-transform: uppercase;
                font-size: 16px;
                text-decoration: none;
                line-height: 1;
                position: relative;
            }

            .inner-ul {
                .inner-li {
                    border-top: 1px solid rgba(0,0,0,0.45);

                    a {
                        border-top: 1px solid rgba(255,255,255,0.05);
                        display: block;
                        color: #fff;
                        background-color: rgba(0,0,0,0.25);
                        padding: 15px 20px;
                        text-transform: uppercase;
                        font-size: 14px;
                        text-decoration: none;

                        &::before {
                            content: "\00BB";
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
}

body {
    transition: right 0.5s;
    right: 0;
    position: relative;

    .side-menu-opacity {
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        filter: opacity(0);
        pointer-events: none;
        transition: all 0.5s;
        z-index: 2;
        cursor: pointer;
    }

    &.menu-toggle {
        .side-menu-opacity {
            filter: opacity(0.4);
            pointer-events: all;
        }
    }
}

// -- Home -- //
section {
    height: 100%;

    // Hero page //
    &.hero {
        grid-area: hero;
        height: calc(100vh - 217px);
        border-top: 1px solid rgba(51, 54, 69, 0.5);
        position: relative;

        .slickSlider,
        .slick-list,
        .slick-track {
            height: 100%;
        }

        .slick-slide {
            -webkit-backface-visibility: hidden;

            &:focus {
                outline: none;
            }
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 16px 0;
            list-style-type: none;
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;

            li {
                margin: 0 10px;
            }

            button {
                display: block;
                cursor: pointer;
                padding: 0;
                border: none;
                border-radius: 100%;
                background-color: rgba(255, 255, 255, 0.5);
                width: 11px;
                height: 11px;
                text-indent: -9999px;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background: #869791;
                }
            }

            li.slick-active button {
                background-color: rgba(255, 255, 255, 1);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: -6px;
                    left: -6px;
                    width: 19px;
                    height: 19px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                }
            }
        }

        .slickSlide {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            &.one {
                background-image: linear-gradient(
                        to left,
                        rgba(224, 174, 174, 0) 25%,
                        rgba(0, 0, 0, 1) 100%
                    ),
                    url("../img/slide1.jpg");
            }

            &.two {
                background-image: linear-gradient(
                        to left,
                        rgba(224, 174, 174, 0) 25%,
                        rgba(0, 0, 0, 1) 100%
                    ),
                    url("../img/slide2.jpg");

                .hero-button {
                    background-color: $colorBlue;

                    &:hover {
                        background-color: darken($colorBlue, 10%);
                    }
                }
            }

            &.three {
                background-image: linear-gradient(
                        to left,
                        rgba(224, 174, 174, 0) 25%,
                        rgba(0, 0, 0, 1) 100%
                    ),
                    url("../img/slide3.jpg");

                .hero-button {
                    background-color: $colorGreen;

                    &:hover {
                        background-color: darken($colorGreen, 10%);
                    }
                }
            }

            &.four {
                background-image: linear-gradient(
                        to left,
                        rgba(224, 174, 174, 0) 25%,
                        rgba(0, 0, 0, 1) 100%
                    ),
                    url("../img/slide4.jpg");

                .hero-button {
                    background-color: $colorRed;

                    &:hover {
                        background-color: darken($colorRed, 10%);
                    }
                }
            }

            &.five {
                background-image: linear-gradient(
                        to left,
                        rgba(224, 174, 174, 0) 25%,
                        rgba(0, 0, 0, 1) 100%
                    ),
                    url("../img/slide5.jpg");

                .hero-button {
                    background-color: $colorSlate;

                    &:hover {
                        background-color: darken($colorSlate, 10%);
                    }
                }
            }

            &.six {
                background-image: linear-gradient(
                        to left,
                        rgba(224, 174, 174, 0) 25%,
                        rgba(0, 0, 0, 1) 100%
                    ),
                    url("../img/slide6.jpg");

                .hero-button {
                    background-color: $colorPink;

                    &:hover {
                        background-color: darken($colorPink, 10%);
                    }
                }
            }
        }

        // Hero content
        .hero-content {
            position: relative;
            width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .h1 {
                text-transform: uppercase;
                font-size: 3rem;
                margin: 0 0 18px;
                color: $colorWhite;
                font-weight: normal;
                line-height: 52px;
            }

            p {
                font-size: 1.25rem;
                margin: 0 0 35px;
                color: $colorWhite;
                line-height: 36px;
            }

            .hero-button {
                transition: background-color 0.5s;
                text-transform: uppercase;
                padding: 16px 22px;
                color: $colorWhite;
                border-radius: 4px;
                cursor: pointer;
                background-color: $colorPurple;
                font-size: 1.25rem;
                transition: background-color 0.5s;

                &:hover {
                    background-color: darken($colorPurple, 10%);
                }

                i {
                    margin-left: 10px;
                }
            }
        }
    }

    // -- Services -- //
    &.services {
        grid-area: services;
        margin: 0 auto;
        padding: 0 15px;
        width: 1200px;

        // Service block styles //
        .service-list {
            margin: 40px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: space-around;

            .service {
                display: flex;
                flex-direction: column;
                text-align: center;
                border: 1px solid $colorGrey;
                border-radius: 3px;
                padding: 30px;
                box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
                width: 23.5%;

                &:nth-of-type(-n + 2) {
                    width: 49%;
                    margin-bottom: 25px;
                }

                h2 {
                    font-size: 1.125rem;
                    font-weight: normal;
                    color: $colorBlack;
                    position: relative;
                    padding-bottom: 17px;
                    margin: 0 0 11px;

                    &::after {
                        @include pseudo();
                        @include absolute(auto, 0, 0, 0);
                        margin: auto;
                        width: 28px;
                        height: 3px;
                        background-color: $colorNavy;
                    }
                }

                p {
                    font-size: 0.8125rem;
                    color: $colorBlack;
                    margin: 0 0 13px;
                }

                .service-button {
                    margin-top: auto;
                    height: auto;
                    line-height: 35px;
                    padding: 5px 15px;
                    text-transform: uppercase;
                    font-size: 1.063rem;
                    border-radius: 3px;
                    white-space: normal;
                    color: $colorWhite;
                    width: auto;
                    align-self: center;
                }

                // Service block hover effects //
                &.web-design {
                    .service-icon {
                        background-color: $colorPurple;
                    }

                    .service-button {
                        background-color: $colorPurple;
                    }
                }

                &.it-support {
                    .service-icon {
                        background-color: $colorBlue;
                    }

                    .service-button {
                        background-color: $colorBlue;
                    }
                }

                &.telecoms-services {
                    .service-icon {
                        background-color: $colorRed;
                    }

                    .service-button {
                        background-color: $colorRed;
                    }
                }

                &.bespoke-software {
                    .service-icon {
                        background-color: $colorSlate;
                    }

                    .service-button {
                        background-color: $colorSlate;
                    }
                }

                &.digital-marketing {
                    .service-icon {
                        background-color: $colorGreen;
                    }

                    .service-button {
                        background-color: $colorGreen;
                    }
                }

                &.cyber-security {
                    .service-icon {
                        background-color: $colorPink;
                    }

                    .service-button {
                        background-color: $colorPink;
                    }
                }

                &:hover {
                    h2 {
                        color: $colorWhite;

                        &::after {
                            background-color: $colorWhite;
                        }
                    }

                    .service-icon {
                        background-color: $colorWhite;
                    }

                    .service-button {
                        background-color: $colorWhite;
                    }

                    p {
                        color: $colorWhite;
                    }

                    &.web-design {
                        background-color: $colorPurple;

                        .service-icon {
                            color: $colorPurple;
                        }

                        .service-button {
                            color: $colorPurple;
                        }
                    }

                    &.it-support {
                        background-color: $colorBlue;

                        .service-icon {
                            color: $colorBlue;
                        }

                        .service-button {
                            color: $colorBlue;
                        }
                    }

                    &.telecoms-services {
                        background-color: $colorRed;

                        .service-icon {
                            color: $colorRed;
                        }

                        .service-button {
                            color: $colorRed;
                        }
                    }

                    &.bespoke-software {
                        background-color: $colorSlate;

                        .service-icon {
                            color: $colorSlate;
                        }

                        .service-button {
                            color: $colorSlate;
                        }
                    }

                    &.digital-marketing {
                        background-color: $colorGreen;

                        .service-icon {
                            color: $colorGreen;
                        }

                        .service-button {
                            color: $colorGreen;
                        }
                    }

                    &.cyber-security {
                        background-color: $colorPink;

                        .service-icon {
                            color: $colorPink;
                        }

                        .service-button {
                            color: $colorPink;
                        }
                    }
                }

                .service-icon {
                    height: 60px;
                    width: 60px;
                    margin: 0 auto 17px;
                    color: $colorWhite;
                    border-radius: 50%;
                    display: block;
                    font-size: 1.25rem;
                    line-height: 60px;
                }
            }
        }
    }

    // -- About -- //
    &.about {
        grid-area: about;
        background-color: $colorNavy;
        background-image: url("../img/branded.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 100%;

        .about-text {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin: 0 auto;
            padding: 50px 15px;
            width: 1200px;
            color: white;
            line-height: 32px;

            p {
                margin: 0 0 20px 0;
                width: 50%;
            }

            .about-button {
                color: $colorNavy;
                background-color: #ebebeb;
                border-color: #e0e0e0;
                height: auto;
                line-height: 35px;
                padding: 5px 15px;
                text-transform: uppercase;
                border-radius: 3px;
                display: inline-block;
                transition: background-color 0.5s;
                font-size: 1.0625rem;

                &:hover {
                    background-color: darken(#ebebeb, 10%);
                }

                i {
                    margin-left: 10px;
                }
            }
        }
    }

    // -- Latest -- //
    &.latest {
        grid-area: latest;
        box-shadow: $boxShadowBottom;

        // Latest bar //
        .latest-bar {
            grid-area: bar;
            box-shadow: $boxShadowBottom;

            .bar-padding {
                margin: 0 auto;
                width: 1200px;
                padding: 0 15px;

                .bar-tab {
                    padding: 37px 0;
                    color: $colorNavy;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    font-weight: 600;
                    position: relative;
                    display: inline-block;

                    &::after {
                        @include pseudo();
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: $colorNavy;
                        height: 5px;
                        width: 66px;
                    }
                }
            }
        }

        // Latest main articles //
        .latest-article-list {
            padding: 50px 15px;
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .latest-article {
                width: 32%;
                display: flex;
                flex-direction: column;
                align-content: stretch;
                z-index: 1;

                // Article: news //
                &.news {
                    .article-category {
                        background-color: $colorPurple;

                        &:hover {
                            background-color: darken($colorPurple, 10%);
                        }
                    }

                    h3 {
                        color: $colorPurple;
                    }

                    .article-button {
                        background-color: $colorPurple;

                        &:hover {
                            background-color: darken($colorPurple, 10%);
                        }
                    }
                }

                // Article: careers //
                &.careers {
                    .article-category {
                        background-color: $colorGreen;

                        &:hover {
                            background-color: darken($colorGreen, 10%);
                        }
                    }

                    h3 {
                        color: $colorGreen;
                    }

                    .article-button {
                        background-color: $colorGreen;

                        &:hover {
                            background-color: darken($colorGreen, 10%);
                        }
                    }
                }

                // Article: guides //
                &.guides {
                    .article-category {
                        background-color: $colorPink;

                        &:hover {
                            background-color: darken($colorPink, 10%);
                        }
                    }

                    h3 {
                        color: $colorPink;
                    }

                    .article-button {
                        background-color: $colorPink;

                        &:hover {
                            background-color: darken($colorPink, 10%);
                        }
                    }
                }

                .article-image {
                    position: relative;
                    cursor: pointer;
                    border: 1px solid $colorGrey;
                    border-radius: 3px 3px 0 0;
                    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);

                    .overflow {
                        overflow: hidden;
                        height: 100%;
                    }

                    &:hover {
                        img {
                            opacity: 0.75;
                            transform: scale(1.1, 1.1);
                        }
                    }

                    .article-category {
                        @include absolute(10px, 0, auto, auto);
                        color: $colorWhite;
                        font-size: 0.75rem;
                        padding: 0 10px;
                        line-height: 1.438rem;
                        text-transform: uppercase;
                        z-index: 1;
                        font-weight: 600;

                        .popup {
                            background-color: $colorNavy;
                            color: $colorWhite;
                            padding: 5px;
                            line-height: 17px;
                            font-size: 0.6875rem;
                            font-weight: normal;
                            width: 160px;
                            margin: 0 auto 34px;
                            @include absolute(auto, 5px, 48%, auto);
                            text-align: center;
                            visibility: hidden;
                            text-transform: none;
                            opacity: 0;
                            transition: visibility 0.3s,
                                opacity 0.3s ease-in-out;

                            .arrow {
                                @include absolute(42px, 18%, auto, auto);

                                &::after {
                                    @include pseudo(inline-block);
                                    margin: auto;
                                    border-style: solid;
                                    border-width: 9px 9px 0 9px;
                                    border-color: $colorNavy transparent
                                        transparent transparent;
                                }
                            }
                        }

                        &:hover {
                            text-decoration: underline;

                            .popup {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    img {
                        width: 100%;
                        position: relative;
                        height: 100%;
                        transition: all 0.25s
                            cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                }

                .article-content {
                    display: flex;
                    flex-direction: column;
                    border-top: 0;
                    border-radius: 0 0 3px 3px;
                    border: 1px solid $colorGrey;
                    padding: 30px;
                    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);

                    h3 {
                        height: 50px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    p {
                        font-size: 0.8125rem;
                    }

                    .article-button {
                        height: auto;
                        line-height: 35px;
                        padding: 5px 15px;
                        text-transform: uppercase;
                        font-size: 1.063rem;
                        border-radius: 3px;
                        white-space: normal;
                        color: $colorWhite;
                        align-self: flex-start;
                        margin-top: 10px;
                        transition: background-color 0.5s;
                    }

                    .article-info {
                        margin-top: 30px;
                        padding-top: 30px;
                        border-top: 1px solid $colorGrey;
                        font-size: 0.875rem;

                        img {
                            float: left;
                            margin-right: 20px;
                            border-radius: 50%;
                            width: 47px;
                            height: 47px;
                        }

                        p {
                            margin: 0;
                        }

                        .article-date {
                            color: #666666;
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }

    // -- Clients -- //
    &.clients {
        grid-area: clients;
        width: 1200px;
        padding: 45px 15px;
        margin: 0 auto;
        box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.1);

        ul {
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            // Greyscale effect //
            img {
                filter: grayscale(100%);
                transition: filter 0.5s;
                width: 100%;

                &:hover {
                    filter: grayscale(0%);
                }
            }

            li {
                position: relative;
                padding: 0 20px;

                // Popups //
                .popup {
                    z-index: 2;
                    background-color: $colorNavy;
                    color: $colorWhite;
                    padding: 12px;
                    font-weight: normal;
                    max-width: 260px;
                    margin: 0 auto 48px;
                    @include absolute(auto, -200px, 100%, -200px);
                    text-align: center;
                    visibility: hidden;
                    text-transform: none;
                    opacity: 0;
                    transition: visibility 0.3s, opacity 0.3s ease-in-out;

                    h3 {
                        padding-bottom: 17px;
                        margin: 0 0 11px;
                        position: relative;

                        &::after {
                            @include pseudo();
                            @include absolute(auto, 0, 0, 0);
                            margin: auto;
                            height: 3px;
                            width: 28px;
                            background-color: $colorWhite;
                        }
                    }

                    p {
                        font-size: 0.8125rem;
                    }

                    .arrow {
                        @include absolute(auto, auto, 0, 36%);

                        &::after {
                            @include pseudo(inline-block);
                            margin: auto;
                            border-style: solid;
                            border-width: 35px 36px 0 36px;
                            border-color: $colorNavy transparent transparent
                                transparent;
                        }
                    }
                }

                &:hover {
                    text-decoration: underline;

                    .popup {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    // -- Accreditations -- //
    &.accreditations {
        grid-area: accreditations;
        padding: 50px 0;
        margin: 0 auto;
        width: 1200px;

        ul {
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            // Greyscale effect //
            img {
                filter: grayscale(100%);
                transition: filter 0.3s;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}
