// -- Media Queries -- //
// -------------------------------------------------
// Description: This part of contents contains
//              everything to do with responsiveness.
// -------------------------------------------------

// -- Desktop Mode -- //
@media only screen and (max-width: 1260px) {
    // Navbar //
    .top-nav {
        width: $marginWidthLarge !important;
    }

    .bot-nav {
        width: $marginWidthLarge !important;

        .under-menu .margin {
            width: $marginWidthLarge !important;

            li {
                font-size: 0.8125rem !important;

                &::after {
                    padding: 0 15px !important;
                }
            }
        }
    }

    // Hero image //
    .hero-content {
        width: $marginWidthLarge !important;
    }

    // Services //
    .services {
        width: $marginWidthLarge !important;

        .service {
            width: 49% !important;
            margin-bottom: 25px !important;
        }
    }

    // About //
    .about {
        .about-text {
            width: $marginWidthLarge !important;

            p {
                width: 100% !important;
            }
        }
    }

    // Latest articles //
    .latest {
        .bar-padding {
            width: $marginWidthLarge !important;
        }

        .latest-article-list {
            width: $marginWidthLarge !important;

            .latest-article {
                width: 48% !important;

                &:last-of-type {
                    display: none !important;
                }
            }
        }
    }

    // Clients //
    .clients {
        width: $marginWidthLarge !important;
    }

    // Footer //
    .footer-contents {
        width: $marginWidthLarge !important;

        .section-one,
        .section-two,
        .section-three,
        .section-four {
            width: 50% !important;
        }
    }

    // Accreditations //
    .accreditations {
        width: $marginWidthLarge !important;
    }
}

// -- Tablet Mode -- //
@media only screen and (max-width: 992px) {
    // navbar //
    .top-nav {
        width: $marginWidthTablet !important;

        .support-button,
        .contact-button {
            display: none !important;
        }
    }

    .bot-nav {
        display: none !important;
    }

    // hero image //
    .hero {
        height: calc(100vh - 117px) !important;

        .hero-content {
            align-items: center !important;
            text-align: center !important;
        }

        .slickSlide {
            &.one {
                background-image: linear-gradient(
                    to left,
                    rgba(224, 174, 174, 0) -50%,
                    rgba(0, 0, 0, 1) 100%
                ), url("../img/slide1.jpg") !important;
            }

            &.two {
                background-image: linear-gradient(
                    to left,
                    rgba(224, 174, 174, 0) -50%,
                    rgba(0, 0, 0, 1) 100%
                ), url("../img/slide2.jpg") !important;

                .hero-button {
                    background-color: $colorBlue;
                    
                    &:hover {
                        background-color: darken($colorBlue, 10%);
                    }
                }
            }

            &.three {
                background-image: linear-gradient(
                    to left,
                    rgba(224, 174, 174, 0) -50%,
                    rgba(0, 0, 0, 1) 100%
                ), url("../img/slide3.jpg") !important;

                .hero-button {
                    background-color: $colorGreen;

                    &:hover {
                        background-color: darken($colorGreen, 10%);
                    }
                }
            }

            &.four {
                background-image: linear-gradient(
                    to left,
                    rgba(224, 174, 174, 0) -50%,
                    rgba(0, 0, 0, 1) 100%
                ), url("../img/slide4.jpg") !important;

                .hero-button {
                    background-color: $colorRed;

                    &:hover {
                        background-color: darken($colorRed, 10%);
                    }
                }
            }

            &.five {
                background-image: linear-gradient(
                    to left,
                    rgba(224, 174, 174, 0) -50%,
                    rgba(0, 0, 0, 1) 100%
                ), url("../img/slide5.jpg") !important;

                .hero-button {
                    background-color: $colorSlate;

                    &:hover {
                        background-color: darken($colorSlate, 10%);
                    }
                }
            }

            &.six {
                background-image: linear-gradient(
                    to left,
                    rgba(224, 174, 174, 0) -50%,
                    rgba(0, 0, 0, 1) 100%
                ), url("../img/slide6.jpg") !important;

                .hero-button {
                    background-color: $colorPink;

                    &:hover {
                        background-color: darken($colorPink, 10%);
                    }
                }
            }
        }
    }

    // Services //
    .services {
        width: $marginWidthTablet !important;

        .service {
            width: 48% !important;

            &:nth-of-type(-n + 2) {
                width: 48% !important;
            }
        }
    }

    // About //
    .about {
        background-image: none !important;

        .about-text {
            width: $marginWidthTablet !important;
        }
    }

    // Latest articles //
    .latest {
        .bar-padding {
            width: $marginWidthTablet !important;
        }

        .latest-article-list {
            width: $marginWidthTablet !important;

            .article-image {
                &:hover {
                    img {
                        opacity: 1 !important;
                        transition-property: none !important;
                        transform: none !important;
                    }
                }
            }
        }
    }

    // Clients //
    .clients {
        width: $marginWidthTablet !important;
    }

    // Footer //
    .footer-contents {
        width: $marginWidthTablet !important;
    }

    // Accreditations //
    .accreditations {
        width: $marginWidthTablet !important;
    }
}

// -- Mobile Mode -- //
@media only screen and (max-width: 768px) {
    // Navbar //
    .top-nav {
        width: $marginWidthMobile !important;

        .border {
            display: block !important;

            .phone {
                display: block !important;
            }
        }

        .hamburger {
            margin-left: 35px !important;
        }
    }

    // Hero image //
    .hero {
        height: 90vh !important;
    }

    // Services //
    .services {
        width: $marginWidthMobile !important;

        .service {
            width: $marginWidthMobile !important;

            &:nth-of-type(-n + 2) {
                width: $marginWidthMobile !important;
            }
        }
    }

    // About //
    .about {
        .about-text {
            width: $marginWidthMobile !important;
        }
    }

    // Latest articles //
    .latest {
        .bar-padding {
            width: $marginWidthMobile !important;
        }

        .latest-article-list {
            width: $marginWidthMobile !important;

            .latest-article {
                width: $marginWidthMobile !important;
                margin-top: 30px !important;

                &:first-of-type {
                    margin-top: 0 !important;
                }

                &:last-of-type {
                    display: block !important;
                }
            }
        }
    }

    // Clients //
    .clients {
        display: none !important;
    }

    // Footer //
    .footer-contents {
        padding: 40px 0px !important;
        width: $marginWidthMobile !important;

        .section-one,
        .section-two,
        .section-three,
        .section-four {
            width: $marginWidthMobile !important;

            a {
                width: 46% !important;

                &:nth-of-type(2) {
                    margin: 0 !important;
                }
            }
        }
    }

    // Accreditations //
    .accreditations {
        display: none !important;
    }
}
